/* --- CSS variables is declare on an element ----- */
/* --- The element here is root which is the highest level on css elements--*/

/* This is setup for default variables */
:root {
	--base: #ffc600;
	--spacing: 10px;
	--blur: 10px;
}

/* To use CSS Variables we passed in: var(--PLACEVARIABLESHERE) */
/* The variable is reference and use here */
img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
}

.h1, .fun {
	color: var(--base);
}


/* ---This CSS style under this comment line is unrelated to CSS variables ----- */

body {
	text-align: center;
	background: #101317;
	color: white;
	font-family: 'helvetica neue', sans-serif;
	font-weight: 100;
	font-size: 50px;
}

.controls {
	margin-bottom: 50px;
}

input {
	width: 100px;
}

main p {
	font-size: 35px;
	padding: 10px;
}

footer p{
	font-size: 20px;
	padding-top: 10px;
}